* {
	box-sizing: border-box;
}

.skills_container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.html {
	width: 50%;
	background-color: #04aa6d;
}
.css {
	width: 50%;
	background-color: #2196f3;
}
.js {
	width: 50%;
	background-color: #f44336;
}
.python {
	width: 50%;
	background-color: #808080;
}
body {
	background-color: #474e5d;
	font-family: Helvetica, sans-serif;
	color: white;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	color: black;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.timeline_container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.timeline_container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #ff9f55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.right::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right::after {
	left: -16px;
}

.timeline_content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	.timeline_container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.timeline_container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active,
.collapsible:hover {
	background-color: #555;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

@media screen and (max-width: 480px) {
	.title_head {
		font-size: 18px;
	}
}
